<div><h1 style="margin-left: 520px">Lista de cursos</h1></div>
<div class="container p-5" style="width: 450px;">
    <app-curso
      [nome]="curso[0]"
      [cargaHoraria]="cargaHoraria[0]">
    </app-curso>
    <app-curso
      [nome]="curso[1]"
      [cargaHoraria]="cargaHoraria[1]">
      </app-curso>
    <app-curso
      [nome]="curso[2]"
      [cargaHoraria]="cargaHoraria[2]">
      </app-curso>
    <app-curso
      [nome]="curso[3]"
      [cargaHoraria]="cargaHoraria[3]">
      </app-curso>
</div>
